@model IEnumerable<ProyectoSGIOCore.Models.Proveedor>
@{
    ViewBag.Title = "Visualizar Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Proveedores</h2>

    <div class="text-end mb-3">
        <a href="~/Proveedores/RegistroProveedor" class="btn btn-primary">Registrar nuevo proveedor</a>
        <a href="~/Proveedores/DescargarProveedoresHTML" class="btn btn-danger">Exportar a HTML</a>
        <a href="~/Proveedores/DescargarProveedoresCSV" class="btn btn-success">Exportar a CSV</a>
    </div>

    <div class="table-responsive">
        <table id="proveedoresTable" class="table table-striped table-hover table-bordered table-custom">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedor in Model)
                {
                    <tr class="text-center">
                        <td>@proveedor.IdProveedor</td>
                        <td>@proveedor.Nombre</td>
                        <td>@proveedor.Correo</td>
                        <td>@proveedor.Telefono</td>
                        <td>@proveedor.Direccion</td>
                        <td>
                            @if (proveedor.Estado)
                            {
                                <span class="badge bg-success">Activo</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactivo</span>
                            }

                        </td>
                        <td>
                            <form asp-action="CambiarEstado" asp-controller="Proveedores" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@proveedor.IdProveedor" />
                                <button type="submit" class="btn btn-info btn-sm">
                                    @if (proveedor.Estado)
                                    {
                                        <span>Cambiar a Inactivo</span>
                                    }
                                    else
                                    {
                                        <span>Cambiar a Activo</span>
                                    }
                                </button>
                            </form>

                            <!-- Botón de editar con ícono de lápiz -->
                            <a asp-action="EditarProveedor" asp-route-id="@proveedor.IdProveedor" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                            <!-- Botón de eliminar con ícono de basurero -->
                            <a asp-action="EliminarProveedor" asp-route-id="@proveedor.IdProveedor" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#proveedoresTable").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json"
                }
            });
        });
    </script>
}
