@model IEnumerable<ProyectoSGIOCore.Models.Empleado>
@{
    ViewData["Title"] = "Visualizar Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <h2 class="text-center mb-4">Empleados registrados en el sistema</h2>

    @if (TempData["MensajeExito"] != null)
    {
        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
            @TempData["MensajeExito"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensajeError"] != null)
    {
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            @TempData["MensajeError"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="text-end mb-3">
        <a href="~/Empleado/CrearEmpleado" class="btn btn-primary">Registrar nuevo empleado</a>
    </div>
    <!-- Tabla con Bootstrap y DataTable -->
    <div class="table-responsive">
        <table id="empleadosTable" class="table table-striped table-hover table-bordered table-custom">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empleado in Model)
                {
                    <tr class="text-center">
                        <td>@empleado.IdEmpleado</td>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Apellido</td>
                        <td>@empleado.Correo</td>
                        <td>
                            <!-- Botón de editar -->
                            <a href="@Url.Action("EditarEmpleado", "Empleado", new { id = empleado.IdEmpleado })" class="btn btn-warning me-1" title="Editar">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#empleadosTable").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json"
                }
            });
        });
    </script>
}
